body {
  font-family: Arial, sans-serif;
  background-color: #8a0707;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(214, 176, 214);
  width: 100%;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  padding: 8px;
  border-radius: 4px;
  width: 200px;
  outline: none;
  background-color: rgb(28, 27, 27);
  color: aliceblue;
}
